*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.post-container  {
    width: 1200px;
    margin: 0 auto;
}
.post-container h1  {
    text-align: center;

}

.postlist{
    margin-top: 5%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    gap: 3rem;
    flex-wrap: wrap;
}

.postlist li  {
    width: 300px;
    height: 200px;
    background-color: #696866;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.postlist li h2 {
    color: black;
    font-size: 20px;
    text-align: center;
}


.posti{
    width: 600px;
    height: 200px;
    background-color: #696866;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 5% auto;
}
 .posts-container h1 {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
 }

.posti h2 {
    color: black;
    font-size: 17px;
    text-align: center;
}